body{
    background: url("undraw_Complete_task_re_44tb.svg");
    background-size: 50% cover;
    background-repeat: no-repeat;
    background-position: top 20px right 0;
    background-color:#8896BF;
    font-family: 'Architects Daughter', cursive;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    margin:auto;
    text-align: center;
}

li{
   
    margin-bottom:25px;
   border-bottom: solid 1px black;
   
}

input[type="checkbox"]{
    display: inline;
    margin-left: 15px;
}
input[type="text"]{
border-radius: 10px;
margin: auto;
display: block;
background-color:#A7AED9;
border-color:#ACACAC;
margin-bottom: 30px;
}
input[type="text"]:focus{
outline: none;
border-color: #A7AED9;
background-color: rgb(218, 213, 213);
transition: background-color 0.1s ease-in;
}
button{
 margin: auto;
 display: block;
 background-color: #A7AED9;
 padding:5px;
 width:200px;

 border-radius: 10px;
 font-family: 'Architects Daughter', cursive;
 font-weight: bold;
 border-color: #A7AED9;
}
#list{
    background-color: rgba(245, 245, 245, 0.315);
    border:inset 2pt#262118;
 overflow-y: auto;
    border-radius: 10px;
}
#error{
    margin-top:0;
color:rgb(126, 54, 54);
    text-align:center;
    visibility: hidden;
    
}
input[type="checkbox"]{
float: right;
margin-right:30px;
    }
@media(max-width:500px){
    body{
        background-size: 70%;
        background-position: right 0px bottom 20px;
        
        margin:auto;
        width: 100%;
    
    }
   
    .wrapper{
       margin-top:30px;
     
    }

    #list{
       
        width: 70%;
        margin: 30px auto;
        height: 250px;
      
        padding:10px;
    }

   
    input[type="text"]{
        width: 200px;
        
    }
}

@media(min-width:501px){
h1{
    margin-top:40px;
    margin-bottom: 20px;
}
    #list{
        width:45%;
        max-width: 400px;
        margin:auto;
        margin-bottom: 30px;
        height: 300px;
    }

    input[type="text"]{
        width:40%;
        max-width:350px;
        
    }
}

